---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        我是李瑞丰，一名前端开发工程师，目前专注 Web 开发，热爱开源，喜欢折腾，喜欢分享。现在居住工作在中国天津。
      </p>
      <p class="mt-2">
        我的主要技术栈包括：
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Astro</li>
        <li>React</li>
        <li>Vue.js</li>
        <li>Node.js</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      这两年，开始着重参与一些开源项目，同时也在写技术文章。Deno 的代码贡献。Astro 中文文档的维护翻译。
    </p>
    <p class="text-sm font-light">
      本站是我的个人主站，主要是我的文章的发布，包括但不限于技术类、读后感、生活琐事等。如果你有任何问题，或者中文文档有任何疑问，欢迎联系我。
    </p>
    <p class="text-sm font-light">
      很高兴见到你，欢迎来玩儿~
    </p>
  </div>
</Card>
